@media screen and (min-width: 992px) {
    .shop {
        margin-left: 20px;
    }
}

.middle {
    background-color: antiquewhite;
}

.picture-left {
    background-image: url("../imgs/kinoALiteratura1.jpg");
}

.picture-right {
    background-image: url("../imgs/kinoALiteratura2.png");
}

.side-pictures {
    background-size: contain;
    background-position: center;
}

.navbar {
     background: conic-gradient(burlywood, blanchedalmond, peru, tan);
     margin: 5px -8px 0;
     padding: 5px 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
 }

.navbar-brand {
    font-weight: bold;
    font-family: serif;
    font-size: 200%;
    letter-spacing: 1px;
}

.carousel {
    margin-top: 1vh;
}

.kino {
    margin-top: 2vh;
    border-top: 1px solid burlywood;
    border-bottom: 1px solid burlywood;
    justify-content: center;
    position: relative;
}

.kino a {
    color: black;
    font-weight: bold;
}

.novinky {
    font-style: italic;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    color: saddlebrown;
    border-bottom: 1px solid burlywood;
}

.kino-obsah {
    border: 1px solid burlywood;
}

.card {
    margin-top: 20px;
    width: 24rem;
}

.lava {
    margin-right: auto;
}

.prava {
    margin-left: auto;
}

.card-link {
    color: brown;
    text-decoration: none;
}

.card-body {
    padding-left: 90px;
}


















