@media screen and (min-width: 992px) {
    .shop {
        margin-left: 20px;
    }
}

.middle {
    background-color: antiquewhite;
}

.picture-left {
    background-image: url("../imgs/kinoALiteratura1.jpg");
}

.picture-right {
    background-image: url("../imgs/kinoALiteratura2.png");
}

.side-pictures {
    background-size: contain;
    background-position: center;
}

.navbar {
     background: conic-gradient(burlywood, blanchedalmond, peru, tan);
     margin: 5px -8px 0;
     padding: 5px 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-weight: bold;
    font-family: serif;
    font-size: 200%;
    letter-spacing: 1px;
}

.carousel {
    margin-top: 1vh;
}

.kino {
    margin-top: 2vh;
    border-top: 1px solid burlywood;
    border-bottom: 1px solid burlywood;
    justify-content: center;
    position: relative;
}

.kino a {
    color: black;
    font-weight: bold;
}

.novinky {
    font-style: italic;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
    color: saddlebrown;
    border-bottom: 1px solid burlywood;
}

.kino-obsah {
    border: 1px solid burlywood;
}

.card {
    margin-top: 20px;
}

.card-link {
    color: brown;
    text-decoration: none;
}

.card-body {
    padding-left: 90px;
}

.nav-link:hover {
    color: darkgoldenrod;
}

.tabulka-vyberu {
    background-color: burlywood;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    overflow-x: auto;
    margin-top: 10px;
}

.tabulka-vyberu th, .tabulka-vyberu td {
    padding: 5px;
    vertical-align: middle;
}

.btn-primary {
    border-color: peru;
    background-color: peru;
    border-radius: 15px;
}

.btn-primary:hover, .btn-primary:focus {
    border-color: saddlebrown;
    background-color: saddlebrown;
}

.vyber-prechadzanie {
    text-align: center;
    margin-top: 5px;
    border-top: 1px solid burlywood;
}

.vyber-prechadzanie button {
    color: saddlebrown;
}

.list-group-numbered {
    margin-top: 2px;
}

.list-group-numbered li {
    color: saddlebrown;
    font-weight: bold;
}


















